body {
	width: 45em;
	margin: auto;
}

.msg { margin-left: 2em; }

p, blockquote, li {
	line-height: 1.35;
}

.katex-html {
	display: none;
}

.twitter-tweet {
	padding: .5em;
	background: aliceblue;
}

.twitter-tweet > a:first-child {
	float: left;
	margin: 1em;
}

hr + hr {
	display: none;
}

.logo {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 1em;
	margin-top: 5px;
}

.home-link {
	color: inherit;
	text-decoration: none;
}

.site-footer {
	margin-bottom: 2em;
	color: #777;
}

/* avoid code/quote blocks to be oversized */
pre {
	overflow: auto;
}

/* hide useless avatar */
.zl img {
    display: none;
}

.zl::after {
    content: 'original';
}

h4 {
    position: relative;
}
.zl {
    position: absolute;
    right: 0px;
}
