body {
	width: 45em;
	margin: auto;
}

.msg { margin-left: 2em; }

p, blockquote, li {
	line-height: 1.35;
}

.katex-html {
	display: none;
}

.twitter-tweet {
	padding: .5em;
	background: aliceblue;
}

.twitter-tweet > a:first-child {
	float: left;
	margin: 1em;
}
