<html>
  {% include head.html %}
  <body>
    <header>
      <a href="https://mattecapu.github.io/ct-zulip-archive" class="home-link">
        <img class="logo" src="https://zulip-avatars.s3.amazonaws.com/21317/realm/icon.png?version=3" />
        <h1>Category Theory<br/>Zulip Server<br/>Archive</h1>
      </a>
      <p>
        You're reading the public-facing archive of the <a href="https://categorytheory.zulipchat.com/">Category Theory Zulip server</a>.<br/>

        To join the server you need an invite. Anybody can get an invite by contacting <a href="https://matteocapucci.wordpress.com">Matteo Capucci</a> at <em>name dot surname at gmail dot com</em>.<br/>

        For all things related to this archive refer to the same person.
        <hr>
        The community also maintains a <a href="https://teamup.com/ksfss6k4j1bxc8vztb">conferences, seminars and events calendar</a>.
      </p>
    </header>
    <hr>
    {{ content }}
    <footer class="site-footer">
      This archive is possible thanks to <a href="https://github.com/zulip/zulip-archive">zulip-archive</a>.
    </footer>
  </body>
</html>
